@tailwind base;

@layer base {
    html {
        @apply text-white;
    }
}

@tailwind components;
@tailwind utilities;

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.glass {
    color:  #2c2c2c2c;
}

#brightness {
    background-image: linear-gradient(0deg, black, rgb(0, 0, 0, 0));
}

#saturation {
    background-image: linear-gradient(90deg, white, rgb(0, 0, 0, 0));
}

#hue-slider {
    background-image: linear-gradient(
        90deg,
        rgb(255, 0, 0),
        rgb(255, 255, 0),
        rgb(0, 255, 0),
        rgb(0, 255, 255),
        rgb(0, 0, 255),
        rgb(255, 0, 255),
        rgb(255, 0, 0)
    );
}

.unselected {
    background: #323232;
    color: white;
}

.selected {
    background: white;
    color: #0f0f0f;
}
